# Multiple Linear Regression

> A tutorial on How to use Multiple Linear Regression.

- toc: true
- badges: true
- comments: true
- categories: [jupyter, Regression]

## 0.Data Preprocessing

### 0.1 Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### 0.2 Importing the dataset

In [2]:
dataset = pd.read_csv('data.csv')
dataset

     R&D Spend  Administration  Marketing Spend       State        Profit
0    165349.20      136897.800      471784.1000    New York  192261.83000
1    162597.70      151377.590      443898.5300  California  191792.06000
2    153441.51      101145.550      407934.5400     Florida  191050.39000
3    144372.41      118671.850      383199.6200    New York  182901.99000
4    142107.34       91391.770      366168.4200     Florida  166187.94000
..         ...             ...              ...         ...           ...
995   54135.00      118451.999      173232.6695  California   95279.96251
996  134970.00      130390.080      329204.0228  California  164336.60550
997  100275.47      241926.310      227142.8200  California  413956.48000
998  128456.23      321652.140      281692.3200  California  333962.19000
999  161181.72      270939.860      295442.1700    New York  476485.43000

[1000 rows x 5 columns]

### 0.3 Check if any null value

In [3]:
dataset.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        1000 non-null   float64
 1   Administration   1000 non-null   float64
 2   Marketing Spend  1000 non-null   float64
 3   State            1000 non-null   object
 4   Profit           1000 non-null   float64
dtypes: float64(4), object(1)
memory usage: 39.2+ KB

In [5]:
### 0.4 Split into X & y

In [6]:
X = dataset.drop('Profit', axis=1)
X

     R&D Spend  Administration  Marketing Spend       State
0    165349.20      136897.800      471784.1000    New York
1    162597.70      151377.590      443898.5300  California
2    153441.51      101145.550      407934.5400     Florida
3    144372.41      118671.850      383199.6200    New York
4    142107.34       91391.770      366168.4200     Florida
..         ...             ...              ...         ...
995   54135.00      118451.999      173232.6695  California
996  134970.00      130390.080      329204.0228  California
997  100275.47      241926.310      227142.8200  California
998  128456.23      321652.140      281692.3200  California
999  161181.72      270939.860      295442.1700    New York

[1000 rows x 4 columns]

In [7]:
y = dataset['Profit']
y

0      192261.83000
1      191792.06000
2      191050.39000
3      182901.99000
4      166187.94000
           ...
995     95279.96251
996    164336.60550
997    413956.48000
998    333962.19000
999    476485.43000
Name: Profit, Length: 1000, dtype: float64

### 0.5 Encoding categorical data

In [8]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_feature = ["State"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                  one_hot,
                                  categorical_feature)],
                                 remainder="passthrough")

transformed_X = transformer.fit_transform(X)

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
pd.DataFrame(transformed_X).head()

     0    1    2          3          4          5
0  0.0  0.0  1.0  165349.20  136897.80  471784.10
1  1.0  0.0  0.0  162597.70  151377.59  443898.53
2  0.0  1.0  0.0  153441.51  101145.55  407934.54
3  0.0  0.0  1.0  144372.41  118671.85  383199.62
4  0.0  1.0  0.0  142107.34   91391.77  366168.42

### 0.6 Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size = 0.25, random_state = 2509)

## 1. Training the Multiple Linear Regression model on the Training set

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

### 1.1 Score

In [ ]:
regressor.score(X_test,y_test)

0.9840064291741994

## 2. Predicting the Test set results

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
d = {'y_pred': y_pred, 'y_test': y_test}

### 2.1 Compare Predicted results

In [ ]:
pd.DataFrame(d)

           y_pred     y_test
32   98884.371543   97427.84
33  100047.235184   96778.92
47   47766.247901   42559.73
9   154976.558305  149759.96
37   91129.087779   89949.14
8   151755.926389  152211.77
23  112436.195860  108733.99
24  113375.898676  108552.04
17  130706.106786  125370.37
1   189141.730655  191792.06
39   85217.422839   81005.76
22  116952.737156  110352.25
46   60343.602070   49490.75